body{
background: linear-gradient(136deg, rgb(171, 171, 103), rgb(46, 90, 111));
text-align: center;
font-family: Trebuchet MS;
margin: 0;
}

header{
padding:20px;
font-size: 40px;
letter-spacing: 2px;
background: red;
color:white;
text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

nav{
background: black;
display: flex;
justify-content: center;
}

nav a{
text-decoration: none;
color: white;
padding: 10px;
margin: 20px;
border-radius: 10px;
}

nav a:hover{
background-color: orange;
transform: scale(1.1);
}

h2{
color: white;
padding: 20px 40px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
background: rgba(0,0,0,0.4);
width: 50%;
text-align:center;
display: inline-block;
}

p{
background-color:rgba(255,255,255,0.6);
display: inline-block;
width: 50%;
margin: 20px;
padding: 20px  20px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
border-radius: 10px;
}
.register-box{
color: white;
background: rgba(0,0,0,0.5);
border-radius: 10px;
padding: 10px;
margin: 20px auto;
width: 300px;
}

h3{
font-weight: bold;
font-size: 30px;;
}

input[type="text"],input[type="password"]
{
padding: 10px;
margin-top: 10px;
border-radius: 10px;
border: none;
outline: none;
width: 200px;
}

input[type="submit"]
{
color: white;
background: red;
padding:10px;
margin:10px;
border-radius: 10px;
border: none;
outline: none;
}

input[type="submit"]:hover{
background: white;
color:red;
transform: scale(1.1);
}

footer{
background: black;
padding: 20px;
color: white;
margin-top: 30px;
margin-bottom:0;
}